@using VideoOnDemand.UI.Models.MembershipViewModel

@model VideoViewModel


<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="http://vjs.zencdn.net/6.6.3/video-js.css" rel="stylesheet">

<!-- If you'd like to support IE8 -->
<script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

@if (Model.Video.Url != null)

{
<div class="video video-margin ">
    <iframe width="560" height="315"
            src="@Model.Video.Url" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
</div> 
    @*<div id="video" class="video-margin">&nbsp;</div>

        <div id="hiddenUrl" hidden="hidden">@Model.Video.Url</div>

        <div id="hiddenImageUrl" hidden="hidden">@Model.Video.Thumbnail</div>*@

}



<div class="panel-body">

    <h2 class="text-dark">@Model.Video.Title</h2>

    <p class="text-light">

        <i class="glyphicon glyphicon-facetime-video"></i>

        Lesson @Model.LessonInfo.LessonNumber/

        @Model.LessonInfo.NumberOfLessons&nbsp;&nbsp;

        <i class="glyphicon glyphicon-time"></i>

        @Model.Video.Duration minutes

    </p>

    <div class="media-object">

        <div class="media-left">

            <img src="@Model.Course.CourseImageUrl">

        </div>

        <div class="media-body media-middle">

            <p>@Model.Course.CourseTitle</p>

        </div>

    </div>

</div>

<hr class="no-margin">

<div class="panel-body">

    @Model.Video.Description

</div>

</div>

<script src="http://vjs.zencdn.net/6.6.3/video.js"></script>